@using Microsoft.AspNet.Mvc.Rendering;
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Resultat</h3>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 ">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 text-success BorderOutset">Totallager&nbsp;(ink.&nbsp;marg.):</div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 ">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 text-success BorderInset">@ViewData["Total"]</div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 ">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4"></div>
                <div class="col-xs-8 col-sm-8 col-md-8 text-success BorderOutset">Säkerhetsmarginal:</div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 ">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 text-success BorderInset">@ViewData["Safety"]</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 ">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 text-success BorderOutset">Lager&nbsp;(ingen&nbsp;marginal):</div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 ">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 text-success BorderInset">@ViewData["Stock"]</div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 ">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4"></div>
                <div class="col-xs-8 col-sm-8 col-md-8 text-success  BorderOutset">Falerade:</div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 ">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 text-success  BorderInset">@ViewData["Failed"]</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 ">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 text-success  BorderOutset">Lyckade&nbsp;reparationer:</div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 ">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 text-success  BorderInset">@ViewData["Repaired"]</div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 ">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4"></div>
                <div class="col-xs-8 col-sm-8 col-md-8 text-success  BorderOutset">Servicedagar:</div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 ">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 text-success  BorderInset">@ViewData["ServiceDays"]</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2">
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 text-success  BorderOutset">Antal&nbsp;misslyckade&nbsp;reparationer:</div>
                <div class="col-xs-2 col-sm-2 col-md-2 text-success  BorderInset">@ViewData["Lost"]</div>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2">
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 text-success  BorderInset">@ViewData["InfoText"]</div>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
        </div>
    </div>
    <div id="divInput">
        @await Html.PartialAsync("_Input")
    </div>
